# ETL Pipeline Preparation

### 1. Import libraries and load datasets.

In [2]:
# import libraries
import pandas as pd
import numpy as np

In [3]:
# load messages dataset
messages = pd.read_csv('./data/messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [4]:
# load categories dataset
categories = pd.read_csv('./data/categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.

In [11]:
# merge datasets
df = pd.merge(messages,categories, on = 'id', how = 'inner')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [28]:
pd.merge(messages,categories, left_on = 'id', right_on = 'id', how = 'inner').shape

(26386, 5)

In [25]:
pd.concat([messages, categories], axis = 1, join = 'inner').shape

(26248, 6)

### 3. Split `categories` into separate category columns.

In [ ]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';', expand = True)
categories.head()

In [ ]:
test = categories.iloc[0].tolist()

In [ ]:
cat = []
for text in test:
    cat.append(text[:-2])

In [ ]:
# select the first row of the categories dataframe
row = categories.iloc[0].tolist()

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = [x[:-2] for x in row]
print(category_colnames)

In [ ]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

### 4. Convert category values to just numbers 0 or 1.

In [ ]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str.extract('(\d)')
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

In [ ]:
categories.shape

In [ ]:
categories.info()

### 5. Replace `categories` column in `df` with new category columns.

In [ ]:
# drop the original categories column from `df`
df.drop('categories', axis = 1, inplace = True)
df = pd.concat([df,categories], axis = 1)

df.head()

In [ ]:
# concatenate the original dataframe with the new `categories` dataframe
df = 
df.head()

### 6. Remove duplicates.

In [ ]:
df.shape

In [ ]:
# check number of duplicates
df[df.duplicated()].shape[0]

In [ ]:
# drop duplicates
df.drop_duplicates(inplace = True)

In [ ]:
# check number of duplicates
df[df.duplicated()].shape[0]

### 7. Save the clean dataset into an sqlite database.

In [ ]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.